@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #8C644D, #401E12);
}

p {
    text-align: justify;
}

h1{
    color: #26150F;
    text-align: center;
    text-shadow: 1px, 1px, 2px, black;
}

h2{
    color: #401E12;
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px, 5px, 15px, rgba(136, 109, 93, 0.637) ;
    width: 600px;
    padding: 10px;
    margin: auto;
}